services:
  postgres:
    image: postgres:18
    container_name: user_database_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d users"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  javausers:
    build: .
    container_name: user_service
    ports:
      - "8092:8092"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env  # <-- Загрузит все переменные из .env файла
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/users
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    restart: no